a {
  text-decoration: none
}

.header {
  padding: 94px 51px;

  display: flex;
  flex-direction: space-between;
  align-items: center;
  justify-content: flex-start;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu {
  padding-right: 36px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 32px;
}

.header__menu-item {
  list-style-type: circle;
  border-bottom: 1px #000 solid;
  letter-spacing: 0.18px;
}

.header__menu-item_active {
  list-style-type: none;
  border-bottom: none;
}


.header__logo-image {
  width: 148px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 184px;
}

.contact__item {
  list-style-type: none;
  line-height: 24.3px;
  word-wrap: break-word;
  
}

.contact__item-underline {
  display: inline;
  border-bottom: 1px #000 solid;
  word-wrap: break-word;
  
}

.cover {
  background-color: #000;
  height: 757px;
  /*min-height: 757px;*/
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 124.5%;
}

.cover__title {
  padding-top: 145px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 135px;
  display: block;
  size: 1000px 355px;
  color: #fff;
  background-color: transparent;
}

.accent-span {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  word-wrap: break-word;
  align-self: start;
  padding-top: 20px;
}
.text-left {
  line-height: 115px;
}

.text-center {
  line-height: 100px;
  justify-content: center;
  align-self: start;
}

.text-right {
  line-height: 100px;
  justify-content: right;
}

.accent-letter-spacing {
  letter-spacing: 60px;
}

.special-class-for-this-simbol {
  letter-spacing: 0;
}

.cover__bottom {
  padding-left: 78px;
  padding-right: 50px;

  color: white;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__bottom-text {
  word-spacing: 18.5px;
}

.cover__bottom-button {
  color: #fff;
  background-color: transparent;
  border: 1px white solid;
  position: -6px;
  padding: 12px 31px;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
}
